main.index{
	padding-top: .75rem;
	@media (max-width: $md) {
		padding-top: 0rem;
	}
	.container{
		#mobile_menu_btn{
			display: none;
			@media (max-width: $md) {
				display: block;
				position: fixed;
				bottom: 20px;
				left: 20px;
				z-index: 7;
				width: 35px;
				height: 35px;
				text-align: center;
				background: $dust;
				border-radius: 50%;
				transition: .3s;
				box-shadow: 0 3px 10px rgba(black, .5);
				cursor: pointer;
				i{
					font-size: 1.5rem;
					color: $white;
					line-height: 35px;
					&.fa-filter{
						line-height: 40px;
					}
				}
				&.isOpen{
					left: 245px;
				}
			}
		}
		@include flex(flex-start);
		@media (max-width: $md) {
		}
		.bikes_container{
			// width: 100%;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			.empty_text{
				width: 100%;
				margin-top: .75rem;
				text-align: center;
				height: 200px;
				line-height: 200px;
			}
			.columns{
				margin: 0;
				width: 100%;
			}
		}
	}
}