main.index{
	margin-top: 60px;
	padding-top: .75rem;
	.container{
		@include flex(flex-start);
		@media (max-width: $md) {
		}
		.bikes_container{
			// width: 100%;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			.columns{
				margin: 0;
				width: 100%;
			}
		}
	}
}